<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A Node.js + EJS Project made for a LexartLabs technical challenge">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/svg+xml" />
  <link rel="stylesheet" href="/css/index.css"/>
  <title>Project Lexart</title>
</head>
<body>
  <form action="" method="get">
    <select name="site" id="site" required>
      <option value="">Web</option>
      <% sites.forEach(site => { %>
        <option
          value="<%= site.id %>"
          <% if (siteQuery === site.id) { %>
            <%= 'selected' %>
          <% } %>
        >
          <%= site.value %>
        </option>
      <% }); %>
    </select>
    <select name="category" id="category">
      <option value="">Categories</option>
      <% categories.forEach(category => { %>
        <option
          value="<%= category.id %>"
          <% if (categoryQuery === category.id) { %>
            <%= 'selected' %>
          <% } %>
        >
          <%= category.name %>
        </option>
      <% }); %>
    </select>
    <label for="search">
      <input
        id="search"
        type="text"
        name="search"
      />
    </label>
    <button id="submit" type="submit">Search</button>
  </form>
  <% if (search) { %>
    <p>Showing results for <%= search %></p>
  <% } %>
  <% if (products) { %>
    <main>
      <% if (products.error) { %>
        <p><%= products.error %></p>
      <% } %>
      <% products.forEach(product => { %>
        <div id="<%= product.id %>">
          <img
            src="<%= product.thumbnail %>"
            alt="<%= product.title %>"
            width="40%"
            height="40%"
          />
          <section>
            <p><%= product.title %></p>
            <% if (product.original_price > product.price) { %>
              <span>R$ <%= product.original_price %></span>
            <% } %>
            <h3>R$ <%= product.price %></h3>
          </section>
          <button><a href="<%= product.permalink %>">Ir a web</a></button>
        </div>
      <% }); %>
    </main>
  <% } %>
</body>
<script src="/js/form.js"></script>
</html>